<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 其他配置项 -->

    <typeAliases>
        <!-- 配置实体类的类型别名 -->
<!--        <typeAlias type="com.eagle.mysql.pojo.entity.Monster" alias="Monster"/>-->
        <package name="com.eagle.mysql.pojo.entity"/>
    </typeAliases>

    <!-- 其他配置项 -->
</configuration>